node_modules/canvas-confetti/src/confetti.js
node_modules/canvas-confetti/dist/confetti.module.mjs
node_modules/canvas-confetti/dist/confetti.browser.js
node_modules/canvas-confetti/LICENSE
node_modules/canvas-confetti/package.json
node_modules/canvas-confetti/README.md
